{% extends "layout/base-project.twig" %}
{% set page = {
  title : "Styleguide",
  meta : "Styleguide du projet Mon_Beau_Projet"
} %}


{% block nav_main %}
  {% include "styleguide/nav-main-sg.twig" %}
{% endblock %}

{% block breadcrumb %}
  {{ parent() }}
  <p class="sg-comment">Le fil d'ariane est présent sur toutes les pages sauf la home.</p>
{% endblock %}

{% block content %}
  <h1 id="visu" class="sg-title">Identité visuelle</h1>

  <h2 id="couleurs-et-fontes" class="sg-title js-expandmore">Couleurs</h2>
  <div class="js-to_expand">
    {% include "styleguide/palette.twig" %}
    <p class="sg-comment">Une fois cette palette créée il peut s'avérer utile (selon les projets) d'ajouter des variables pour les déclinaisons plus claires et plus foncées. En ce cas on les nomme selon la convention de nommage <em>$primary-color-light, $primary-color-dark</em>...</p>
  </div>

  <h2 class="sg-title js-expandmore">Fontes</h2>
  <div class="js-to_expand">
    {% include "styleguide/fontes.twig" %}
    <h3 class="sg-title">Pangramme</h3>
    {% include "styleguide/pangramme.twig" %}
  </div>

  <h2 id="icones" class="sg-title js-expandmore">Icônes</h2>
  <div class="js-to_expand">
    <p class="sg-comment">Si le projet comporte des icônes, créer un include les regroupant et l'inclure ici.</p>
  </div>

  <h1 id="typo" class="sg-title">Éléments de contenu courants</h1>

  <article class="article" role="article">
    <h2 class="sg-title js-expandmore">Typographie</h2>

    <div class="js-to_expand">
      <div class="one-column">
        <div class="article-content">
          {% include "styleguide/titres.twig" %}
          {% include "styleguide/paragraphes.twig" %}
          {% include "styleguide/citations.twig" %}
          {% include "styleguide/listes.twig" %}
          {% include "styleguide/ancres-liens.twig" %}
        </div>
      </div>
    </div>

    <h2 class="sg-title js-expandmore">Tableaux</h2>
    <div class="js-to_expand">
      {% include "styleguide/tableaux.twig" %}
    </div>

    <h2 class="sg-title js-expandmore">Médias</h2>
    <div class="js-to_expand">
      {% include "styleguide/medias.twig" %}
    </div>
  </article>

  <h1 id="buttons" class="sg-title">Boutons et formulaires</h1>
  <article class="article" role="article">
    <h2 class="sg-title js-expandmore">Boutons</h2>
    <div class="js-to_expand">
      {% include "styleguide/boutons.twig" %}
        <div class="sg-comment">
          <!-- test inclusion d'un fichier en syntaxe markdown
{#           {% markdown %}
              {% include "../../_assets/scss/scampi/modules/buttons/buttons.md" %}
          {% endmarkdown %} #}
          fin test markdown -->
        </div>

    </div>

    <h2 class="sg-title js-expandmore">Éléments de formulaire</h2>
    <div class="js-to_expand">
      {% include "styleguide/formulaires.twig" %}
    </div>

    <h2 class="sg-title js-expandmore">Messages</h2>
    <div class="js-to_expand">
      {% include "styleguide/alertes.twig" %}
    </div>
  </article>

  <h1 id="composants" class="sg-title">Composants</h1>
  <p class="sg-comment">Inclure ici tous les composants utilisés dans le projet.</p>
{% endblock %} <!-- fin bloc content -->
