<p>Les hyperliens <code>&lt;a&gt;</code> doivent être visuellement distingués du reste du contenu autrement que par la couleur. Les hyperliens de même nature ont des couleurs, des formes et des comportements identiques sur toutes les pages.</p>
<p>Par convention, sur les sites de la DILA les liens externes s'ouvrent dans une nouvelle fenêtre (ou onglet). Ils sont suivis d'une icône spécifique et le title du lien comporte l'intitulé + la mention "- Nouvelle fenêtre".</p>
<p>Les liens de téléchargement doivent comporter soit directement dans le texte, soit dans le title du lien, la mention du format et du poids du document téléchargé.</p>
<p>Lorsqu'elle diffère de la page d'origine, la langue de la cible est renseignée dans l'attribut HTML <code>hreflang=""</code>.</p>
<ul>
  <li><a href="">Lien interne</a></li>
  <li><a href="http://openweb.eu.org/" target="_blank" rel="noopener noreferrer">Lien externe<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
  <li><a href="http://openweb.eu.org/?lang=en" hreflang="en">Lien vers une page en anglais (en)</a></li>
  <li><a href="mailto:nom@example.com" title="Écrire à nom@example.com">Lien de courriel<svg aria-hidden="true" class="icon svg-icon icon-lien_courriel"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_courriel" /></svg><span class="sr-only">(courriel)</span></a></li>
  <li><a href="" download>Document à télécharger<span class="download-info"> (<abbr title="Document PDF">PDF</abbr> &ndash; 215&nbsp;Ko)</span><svg aria-hidden="true" class="icon svg-icon icon-lien_download"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_download" /></svg></a></li>
</ul>
