<!-- class de ce titre uniquement utilisé par le styleguide -->
<h3 class="sg-title">Bouton primaire</h3>
<p><button class="btn btn-primary" title="envoyer le formulaire" type="submit">Envoyer</button></p>

<!-- class de ce titre uniquement utilisé par le styleguide -->
<h3 class="sg-title">Bouton secondaire</h3>
<p><button class="btn btn-secondary" title="annuler la saisie" type="reset">Annuler</button></p>

<h3 class="sg-title">Barre de boutons</h3>
<p class="btn-group" role="group" aria-label="Titre du groupe de boutons">
  <button type="button" class="btn btn-secondary">Gauche</button>
  <button type="button" class="btn btn-secondary">Bouton</button>
  <button type="button" class="btn btn-secondary">Bouton</button>
  <button type="button" class="btn btn-secondary">Droit</button>
</p>
