<nav class="breadcrumb" role="navigation" aria-label="Vous êtes ici : ">
  <span><a href="../">Accueil</a></span>
  <span><a href="#">Rubrique</a></span>
  <span><a href="#">Sous-rubrique</a></span>
  <strong>{{ page.title }}</strong>
</nav>
