<div class="footer-gouv-links">
  <div class="container">
    <div class="footer-col">
      <ul>
        <li><a href="http://www.dila.premier-ministre.gouv.fr" target="_blank" rel="noopener noreferrer" title="dila.premier-ministre.gouv.fr - nouvelle fenêtre">dila.premier-ministre.gouv.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.legifrance.gouv.fr" target="_blank" rel="noopener noreferrer" title="legifrance.gouv.fr - nouvelle fenêtre">legifrance.gouv.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://circulaires.legifrance.gouv.fr" target="_blank" rel="noopener noreferrer" title="circulaires.legifrance.gouv.fr - nouvelle fenêtre">circulaires.legifrance.gouv.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li><a href="http://www.boamp.fr" target="_blank" rel="noopener noreferrer" title="boamp.fr - nouvelle fenêtre">boamp.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.bodacc.fr" target="_blank" rel="noopener noreferrer" title="bodacc.fr - nouvelle fenêtre">bodacc.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.info-financiere.fr" target="_blank" rel="noopener noreferrer" title="info-financiere.fr - nouvelle fenêtre">info-financiere.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li><a href="https://www.service-public.fr" target="_blank" rel="noopener noreferrer" title="service-public.fr - nouvelle fenêtre">service-public.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.vie-publique.fr" target="_blank" rel="noopener noreferrer" title="vie-publique.fr - nouvelle fenêtre">vie-publique.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.ladocumentationfrancaise.fr" target="_blank" rel="noopener noreferrer" title="ladocumentationfrancaise.fr - nouvelle fenêtre">ladocumentationfrancaise.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
      </ul>
    </div>
    <div class="footer-col">
      <ul>
        <li><a href="http://www.gouvernement.fr" target="_blank" rel="noopener noreferrer" title="gouvernement.fr - nouvelle fenêtre">gouvernement.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.assemblee-nationale.fr" target="_blank" rel="noopener noreferrer" title="assemblee-nationale.fr - nouvelle fenêtre">assemblee-nationale.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
        <li><a href="http://www.senat.fr" target="_blank" rel="noopener noreferrer" title="senat.fr - nouvelle fenêtre">senat.fr<svg aria-hidden="true" class="icon svg-icon icon-lien_externe"><use xlink:href="{{ config.baseURL }}_assets/icones/icon-sprite.svg#lien_externe" /></svg><span class="sr-only">(nouvelle fenêtre)</span></a></li>
      </ul>
    </div>
  </div>
</div>
