
<form>

  <p><small>Les champs marqués d’un <span class="symbol-required">*</span> sont obligatoires.</small></p>

  <div class="form-group">
    <label for="exampleInputEmail1">Adresse électronique</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Cette adresse ne sera jamais communiquée à d'autres que nous.</small>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="un truc compliqué">
  </div>

  <div class="form-group">
    <label for="exampleSelect1">Select simple</label>
    <select class="form-control" id="exampleSelect1">
      <option label="non défini"></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="select_element_multi">Select à groupes d'options (optgroup) : </label>
    <select id="select_element_multi" class="form-control">
      <option label="non défini"></option>
      <optgroup label="Option Group 1">
        <option value="1">Option 1.1</option>
        <option value="2">Option 1.2</option>
        <option value="3">Option 1.3</option>
        <option value="4">Option 1.4</option>
      </optgroup>
      <optgroup label="Option Group 2">
        <option value="1">Option 2.1</option>
        <option value="2">Option 2.2</option>
        <option value="3">Option 2.3</option>
        <option value="4">Option 2.4</option>
      </optgroup>
    </select>
  </div>


  <div class="form-group">
    <label for="exampleSelect2">Select multiple</label>
    <select multiple class="form-control" id="exampleSelect2">
      <option label="non défini"></option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Téléchargez un document</label>
    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
    <small id="fileHelp" class="form-text text-muted">Poids maximum 1Mo.</small>
  </div>

  <div class="form-group has-error">
    <label for="lorem">Lorem ipsum&nbsp;<span class="symbol-required">*</span>
    <span class="error-desc"> Ce champ est obligatoire.</span></label>
    <input type="text" id="lorem" class="form-control" required aria-required="true">
  </div>

  <div class="form-duo">
    <div class="form-group">
      <label for="abonne">Numéro d'abonné</label>
      <input type="tel" id="abonne" class="form-control">
    </div>

    <div class="form-group">
      <label for="societe">Société / organisme</label>
      <input type="text" id="societe" class="form-control">
    </div>
  </div>

  <div class="form-duo">
    <div class="form-group has-error">
      <label for="name">Nom <span class="symbol-required">*</span>
        <span class="error-desc"> Ce champ est obligatoire.</span>
      </label>
      <input type="text" id="name" class="form-control" required aria-required="true">
    </div>

    <div class="form-group">
      <label for="prenom">Prénom <span class="symbol-required">*</span></label>
      <input type="text" id="prenom" class="form-control" required aria-required="true">
    </div>
  </div>

  <div class="form-group">
    <label for="text_area1">Votre message (simple)</label>
    <textarea id="text_area1" class="form-control" rows="6"></textarea>
  </div>

  <div class="form-group">
    <label for="text_area2">Votre message (avec compteur)</label>
    <textarea id="text_area2" maxlength="600" class="form-control" rows="6"></textarea>
  </div>

  <fieldset class="form-group">
    <legend>Choix multiples</legend>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" disabled>
        Option non activable
      </label>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Choix multiples (inline)</legend>

    <label class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="">
      choix 1
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="">
      choix 2
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="checkbox" value="">
      choix 3
    </label>
  </fieldset>

  <fieldset class="form-group fieldset-discret">
    <legend>Choix multiples avec fieldset non apparent</legend>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox">
        choix 3
      </label>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <legend>Choix unique</legend>

    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-1">
        choix 1
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-2">
        choix 2
      </label>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-3">
        choix 3
      </label>
    </div>
    <div class="form-check disabled">
      <label class="form-check-label">
        <input class="form-check-input" type="radio" name="choix-unique" value="value-4" disabled>
        Option non activable
      </label>
    </div>

  </fieldset>

  <fieldset class="form-group">
    <legend>Choix unique (inline)</legend>

    <label class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-1">
      choix 1
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-2">
      choix 2
    </label>
    <label class="form-check-inline">
      <input class="form-check-input" type="radio" name="choix-unique-2" value="value-3">
      choix 3
    </label>
  </fieldset>

  <div class="form-check">
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" required>
      <span class="symbol-required">*</span> J’accepte les <a href="">conditions générales d’utilisation</a>
    </label>
  </div>

  <p class="form-buttons"><button type="submit" class="btn btn-primary">Envoyer</button></p>

</form>
