<!-- bouton à cacher sur les grands écrans -->
<button id="toggle-menu" class="toggle-menu" aria-label="afficher/masquer le menu">Menu</button>

<nav role="navigation" class="nav-main" id="nav-main" aria-label="menu principal">
  <div class="container">
    <ul class="nav-main-list">
      <li class="nav-item"><a class="nav-link" href="../index.html">Accueil</a></li>
      <li class="nav-item"><a class="nav-link" href="#visu">Identité visuelle</a></li>
      <li class="nav-item"><a class="nav-link" href="#typo">Contenus</a></li>
      <li class="nav-item"><a class="nav-link" href="#buttons">Boutons et formulaires</a></li>
      <li class="nav-item"><a class="nav-link" href="#composants">Composants</a></li>
    </ul>
  </div>
 </nav>
