
<nav aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item page-item-prev">
      <a class="page-link" href="#" aria-label="Navigation dans les resultats de recherche">
        <span class="page-item-icon" aria-hidden="true"></span>
        <span>Précédent</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active"><b class="page-link">2<span class="sr-only"> page actuelle</span></b></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item page-item-next">
      <a class="page-link" href="#" aria-label="page suivante">
        <span>Suivant</span>
        <span class="page-item-icon" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>
