<p>Un pangramme (du grec ancien πᾶς / pâs (« tout ») et γράμμα / grámma (« lettre »)) est une phrase comportant toutes les lettres de l’alphabet.</p>
<p>En français, un pangramme comporte au moins 26 lettres. Il doit en compter au moins 42 si on compte les lettres accentuées et les ligatures (à, â, é, è, ê, ë, î, ï, ô, ù, û, ü, ÿ, ç, æ et œ). Si l’on peut atteindre la limite théorique en recourant massivement aux abréviations et aux sigles, le talent consiste à construire une phrase cohérente la plus courte possible, sans lettres solitaires, ni abréviation ou sigle.</p>
