
<div class="form-group">
  <label for="envoi-mail-1">Votre message (moins de 500 car.)</label>
  <textarea class="form-control" id="envoi-mail-1" cols="30" rows="8" maxlength="500"></textarea>
</div>

<div class="form-group">
  <label for="envoi-mail-2">Votre message (moins de 800 car.)</label>
  <textarea class="form-control" id="envoi-mail-2" cols="30" rows="8" maxlength="800">Si un texte déja présent, le nombre de caractère est aussi mis à jour</textarea>
</div>
