{% extends "layout/base.twig" %}

{# Personnaliser ici le gabarit de base de votre site. Renommez éventuellement ce fichier pour un nom plus parlant, ex. base-jo.html #}

{% set site = {
  title : "Nom_du_site",
} %}

{% block devcomments %}
  <!-- supprimer dans les vrais templates -->
  <button id="sg-toggle-comments" class="btn sg-toggle-comments is-closed" arial-label="afficher/masquer les commentaires">commentaires</button>

  <p class="sg-comment">Tous les éléments dont la classe commence par `sg-*` sont à supprimer en production.</p>
{% endblock %}
