<!DOCTYPE html>
<html lang="fr" class="no-js" dir="ltr">

{% block head %}
<head>

  <meta charset="utf-8">

  {% block title %}
  <title>{{ page.title }} - {{ config.site.name }}</title>
  {% endblock %}

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block meta %}
  <meta name="description" content="{{ page.meta }}">
  {% endblock %}

  <!-- en dev uniquement -->
  <meta name="robots" content="noindex nofollow">

  {% include "styleguide/favicon.twig" %}

  {% block scripts_top %}
  <script type="text/javascript" src="{{ config.baseURL }}_assets/scripts/vendors/modernizr.js"></script>
  {% endblock %}

  {% block styles %}
    <link rel="stylesheet" href="{{ config.baseURL }}_assets/css/style.css">
  {% endblock %}

  {% block styles_more %}
  {% endblock %}

  {% block scripts_top_more %}
  {% endblock %}

</head>
{% endblock %}

<body>

  <noscript>
    <p class="js-off">Javascript est desactivé dans votre navigateur.</p>
  </noscript>
  <!--[if lt IE 8]>
    <div class="browsehappy">
      <div class="container">
        <p>Savez-vous que votre navigateur est obsolète ?<p>
        <p>Pour naviguer de la manière la plus satisfaisante sur le Web, nous vous recommandons de procéder à une <a href="http://windows.microsoft.com/fr-fr/internet-explorer/download-ie">mise à jour de votre navigateur</a>.
        <br>Vous pouvez aussi <a href="http://browsehappy.com/">essayer d’autres navigateurs web populaires</a>.</p>
        </div>
      </div>
  <![endif]-->

{% block header %}
  <header role="banner">

    {% block skiplink %}
    <div class="skip-link">
      <div class="container" id="top">
      <ul>
        <li><a href="#main">Aller au contenu</a></li>
        <li><a href="#navigation">Aller au menu</a></li>
        <li><a href="#search">Aller à la recherche</a></li>
      </ul>
      </div>
    </div>
    {% endblock %}

    {% block devcomments %}
    {% endblock %}

    {% block banner %}
    {% endblock %}

    {% block nav_main %}
    {% endblock %}

  </header>
{% endblock %}


{% block main %}
  <main role="main" id="main" class="main">

    {% block breadcrumb %}
      <div class="container">
        {% include "styleguide/breadcrumb.twig" %}
      </div>
    {% endblock %}

    <div class="container main-container">
      {% block content %}
      {% endblock %}
    </div><!-- #end main-container -->

  </main>
{% endblock %}


{% block footer %}
  <footer role="contentinfo">
    {% block footer_site %}
    {% endblock %}

    {% block footer_gouv %}
      {% include "styleguide/footer-gouv-links.twig" %}
    {% endblock %}
  </footer>
{% endblock %}

{% block script %}
  <script src="{{ config.baseURL }}_assets/scripts/vendors/jquery.min.js"></script>
  <script src="{{ config.baseURL }}_assets/scripts/main.js"></script>
{% endblock %}

{% block scripts_bottom_more %}{% endblock %}

</body>
</html>
